<h1> Welcome! </h1>

<div> This is a space where users can help the community by creating and joining projects!</div>

<div> We're glad to see you! </div>


<%= button_tag link_to "Communities", communities_path %>
<%= button_tag link_to "Projects", projects_path %>