@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;

.navbar {
        margin-bottom: 0;
        background: $black;
}
body {
        background: rgb(34, 33, 33);
        color: $white;
        font-family: 'Merriweather', sans-serif;
        // margin: 10px;
}
#content[role="main"]{
        margin: 20px;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $white;
}
a:visited {
        // color: $white;
}
.jumbotron {
        background: #0048CD;
        color: $white;
        text-align: center;
        p {
                color: $white;
                font-size: 26px;
        }
}
.link {
        color: $white;
}
.btn-primary {
        color: $white;
        border-color: $black;
        margin-bottom: 5px;
}
.btn-sm {
        // color: $black;
        // background-color: $white;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}
.form-3-col {
        // -webkit-column-count: 3; /* Chrome, Safari, Opera */
        // -moz-column-count: 3; /* Firefox */
        column-count: 6; 
        column-span: 1;
        column-fill: balance;
        column-width: 100px;
      }