<h3>Communities </h3>

<ul>
    <% @communities.each do |com| %>
        <li>
        <%= link_to com.name, com %>
        </li>
    <% end %>
</ul>

<%= link_to "Create a New Community", new_community_path, :class => "btn-primary btn-sm" %>