<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Communities</h1>
    </div>
    <div class="containers">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>

                    <div class="caption">Check out our communities!</div>
                    <img src="https://advising.utah.edu/_images/discover-your-interests-1030x300-cropped.jpg" alt="Working on a Project">
                </p>

            </div>
        </div>
    </div>
    <% end %>
    <%= render template: "layouts/application" %>